<div class="container">
	<div class="row">
		<div class="col s12">
			<div class="card">
				<div class="card-content">
						<div class="row">
							<form #employeeForm="ngForm" >
									<div class="input-field col s12">
										<textarea #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" rows="20" cols="20" name="data"></textarea>
									</div>
							</form>
							<div class="input-field col s12">
								<input type="text" id="respuesta" readonly="" name="name" placeholder="{{response}}">
							</div>
							<div class="card-action">
								<div class="input-field col s12">
									<button class="btn right" (click)=resetForm(employeeForm)>enviar</button>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>